/* Main Style Sheet Document */
/*
	~"~"~ e7 Under Construction ~"~"~ HTML5 & CSS3 Under Construction Theme by Nuruzzaman Sheikh (UID: palpaldal)
	Please purchase a license from http://themeforest.net in order to use this template.
	Developer Web Address: http://www.palpaldal.com
	Theme Preview and Demo: http://themes.palpaldal.com/e7/
	Themeforest profile: http://themeforest.net/user/palpaldal/
*/
img{
	text-align: center;
	height: auto;
}

/* hiding elements */
legend{
	clip: rect(1px 1px 1px 1px); /* IE6-7 */
	clip: rect(1px, 1px, 1px, 1px); /* for the rest of us :) */
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}

#contents{
	height: 100%;
	padding: 1px 0;
	width: 100%;
	z-index: 9;
}

/* slider */
#slider{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}

	#slider li{
		display: block;
		line-height: 18px;
		width: auto;
	}

/* actual content holders */
#mainBoard,
#contactBoard,
#sideNav{
	background: #262d36 url(../../images/patt.png) 0 0 repeat;
	border: #000 1px solid;
	-moz-box-shadow:
		inset 1px 1px 0px 0px rgba(255,255,255,.1),
		inset -1px -1px 0px 0px rgba(255,255,255,.1),
		3px 3px 5px 0px rgba(0,0,0,.75);
	-webkit-box-shadow:
		inset 1px 1px 0px 0px rgba(255,255,255,.1),
		inset -1px -1px 0px 0px rgba(255,255,255,.1),
		3px 3px 5px 0px rgba(0,0,0,.75);
	-ms-box-shadow:
		inset 1px 1px 0px 0px rgba(255,255,255,.1),
		inset -1px -1px 0px 0px rgba(255,255,255,.1),
		3px 3px 5px 0px rgba(0,0,0,.75);
	box-shadow:
		inset 1px 1px 0px 0px rgba(255,255,255,.1),
		inset -1px -1px 0px 0px rgba(255,255,255,.1),
		3px 3px 5px 0px rgba(0,0,0,.75);
	margin: 40px auto;
	padding: 0 20px;
	position: relative;
	width: 684px;
	z-index: 99;
}

	/* The title */
	header h1{
		background: transparent url(../../images/hdr-dvr.png) center bottom no-repeat;
		color: rgb(124,252,0);
		font: normal 68px/1.2 Bebas, Arial, Helvetica, sans-serif;
		padding-bottom: 31px;
		text-align: center;
		-moz-text-shadow: 2px 2px 0px rgb(124,252,0);
		-webkit-text-shadow: 2px 2px 0px rgb(124,252,0);
		-ms-text-shadow: 2px 2px 0px rgb(124,252,0);
		text-shadow: 2px 2px 0px rgb(124,252,0);
		word-spacing: .15em;
	}

	/* description under title */
	header h4{
		text-align: center;
		color: #b8b8b8;
		font: normal 22px/1.2 'Open Sans SemiBold', 'Open Sans', Arial, Helvetica, sans-serif;
		-moz-text-shadow: 1px 1px 0px rgba(0,0,0,.75);
		-webkit-text-shadow: 1px 1px 0px rgba(0,0,0,.75);
		-ms-text-shadow: 1px 1px 0px rgba(0,0,0,.75);
		text-shadow: 1px 1px 0px rgba(0,0,0,.75);
		margin-bottom: 24px;
	}

/* Timer box */
#counterBox{
	background: transparent url(../../images/cntr-board.png) 0 0 no-repeat;
	height: 311px;
	margin: 20px -20px 0;
}

	/* when javascript isn't available*/
	#counterBox h1{
		font-size: 48px;
		margin: 20px;
		padding: 30px 20px 10px;
		text-align: center;
		-moz-text-shadow: 1px 1px 0px rgba(0,0,0,.75);
		-webkit-text-shadow: 1px 1px 0px rgba(0,0,0,.75);
		-ms-text-shadow: 1px 1px 0px rgba(0,0,0,.75);
		text-shadow: 1px 1px 0px rgba(0,0,0,.75);
	}

		#counterBox h1 span{display: block;}

.countdown_row{
	display: block;
	overflow: hidden;
	padding: 40px 0 0 40px;
}

	.countdown_section{
		color: #8c8c8c;
		display: block;
		float: left;
		font: normal 18px/1.2 Bebas, Arial, Helvetica, sans-serif;
		margin-right: 36px;
		width: 134px;
		text-align: center;
		-moz-text-shadow: 1px 1px 0px rgba(0,0,0,.25);
		-webkit-text-shadow: 1px 1px 0px rgba(0,0,0,.25);
		-ms-text-shadow: 1px 1px 0px rgba(0,0,0,.25);
		text-shadow: 1px 1px 0px rgba(0,0,0,.25);
	}

	.countdown_amount{
		background: transparent url(../../images/digit-box.png) 0 0 no-repeat;
		color: #b1b30d;
		display: block;
		font-size: 84px;
		height: 152px;
		line-height: 142px;
		margin-bottom: -10px;
		-moz-text-shadow: 2px 2px 0px rgba(0,0,0,.35);
		-webkit-text-shadow: 2px 2px 0px rgba(0,0,0,.35);
		-ms-text-shadow: 2px 2px 0px rgba(0,0,0,.35);
		text-shadow: 2px 2px 0px rgba(0,0,0,.35);
		width: 134px;
	}

#clock h1{color: #c7c90a;}

/* construction progress box*/
#progessBox{
	margin: 20px 40px 0;
	position: relative;
}

#progressBar{
	background: transparent url(../../images/p-box.png) 0 0 no-repeat;
	height: 8px;
	padding: 2px;
	width: 638px;
}

	/* progress bar, change the complete percentage from inline in index.html */
	#progress{
		background: #729719;
		-moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,.5), inset 1px 1px 0px 0px rgba(255,255,255,.2);
		-webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,.5), inset 1px 1px 0px 0px rgba(255,255,255,.2);
		-ms-box-shadow: 1px 1px 0px 0px rgba(0,0,0,.5), inset 1px 1px 0px 0px rgba(255,255,255,.2);
		box-shadow: 1px 1px 0px 0px rgba(0,0,0,.5), inset 1px 1px 0px 0px rgba(255,255,255,.2);
		height: 8px;
		width: 100%;
	}

/* tool top for progress amount. please change the 'left' property
from inside the index.html file (inline CSS property) */
#pTip{
	background: #bbbbbb;
	border: #000 1px solid;
	-moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,.25);
	-webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,.25);
	-ms-box-shadow: 3px 3px 3px 0px rgba(0,0,0,.25);
	box-shadow: 3px 3px 3px 0px rgba(0,0,0,.25);
	color: #323232;
	font-size: 11px;
	left: 61.4%;
	margin: 0;
	padding: 1px 10px;
	position: absolute;
	top: 18px;
	width: 108px;
	z-index: 9;
}

	#pTip strong{
		color: #447300;
		font-size: 12px;
		font-weight: bold;
		margin: 0 2px;
	}

	#pTip .arrow{
		background: transparent url(../../images/tt-arw.png) 0 0 no-repeat;
		display: block;
		height: 9px;
		left: 60px;
		position: absolute;
		top: -9px;
		width: 10px;
	}

.cols{overflow: hidden;}

	.cols .half{
		background: transparent url(../../images/ftr-dvr.png) right center no-repeat;
		float: left;
		width: 320px;
		margin-right: 20px;
		padding-right: 20px;
	}

	.cols .half:last-child{
		background: none;
		padding-right: 0;
		margin-right: 0;
	}

.cols h2{
	color: #000;
	color: rgba(0,0,0,.65);
	font: bold 16px/1.2 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	-moz-text-shadow: 1px 1px 0px rgba(255,255,255,.07);
	-webkit-text-shadow: 1px 1px 0px rgba(255,255,255,.07);
	-ms-text-shadow: 1px 1px 0px rgba(255,255,255,.07);
	text-shadow: 1px 1px 0px rgba(255,255,255,.07);
}

/* newsletter subscription form */
.cols form{
	height: 40px;
	margin-top: 20px;
	position: relative;
	padding-left: 1px;
}

.cols label{
	color: #9f9e9e;
	font: normal 14px/1.2 'Helvetica Neue', Helvetica, Arial, sans-serif;
	left: 10px;
	top: 12px;
}

.cols input[type="text"]{
	height: 38px;
	width: 184px;
	padding-right: 120px;
	z-index: 1;
}

.cols input[type="submit"]{
	border-left: rgba(0,0,0,1) 1px solid;
	height: 36px;
	position: absolute;
	right: 6px;
	top: 1px;
	width: 110px;
	z-index: 2;
}

/* newsletter note */
.cols .note,
.contactForm p{
	color: #9f9e9e;
	color: rgba(255,255,255,.35);
	font: normal 9px/1.2 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 4px 0 20px 0;
	text-transform: uppercase;
}

/* social buttons */
.social{
	overflow: hidden;
	padding-left: 16px;
}

	.social li{
		display: block;
		float: left;
		height: 40px;
		line-height: 18px;
		margin-right: 10px;
		width: 40px;
	}

	.social li:last-child{margin-right: 0;}

		.social li a{
			background-color: transparent;
			background-position: 0 0;
			background-repeat: no-repeat;
			display: block;
			font-size: 0px;
			height: 40px;
			text-indent: -9999px;
			width: 40px;
		}

		.social .twitter a{background-image: url(../../images/twitter.png);}

		.social .facebook a{background-image: url(../../images/facebook.png);}

		.social .gplus a{background-image: url(../../images/gplus.png);}

		.social .dribbble a{background-image: url(../../images/dribbble.png);}

		.social .forrst a{background-image: url(../../images/forrst.png);}

		.social .skype a{background-image: url(../../images/skype.png);}

		.social li a:focus,
		.social li a:hover{background-position: 0 -40px;}

footer{
	background: rgba(0,0,0,.35);
	border-top: #000 1px solid;
	border-color: rgba(0,0,0,.5);
	height: 30px;
	margin: 0 -20px;
	overflow: hidden;
	padding: 0 20px;
}

footer p{
	color: #9f9e9e;
	color: rgba(255,255,255,.4);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 30px;
	margin: 0;
	width: 45%;
}

footer .copy{float: left;}

footer .phone{
	float: right;
	text-align: right;
}

/* side navigation */
#sideNav{
	font-size: 0;
	left: -2px;
	margin: 0;
	padding: 20px 0;
	position: absolute;
	text-indent: -999px;
	top: 35%;
	width: 50px;
	z-index: 120;
}

	#sideNav a{
		background-color: transparent;
		background-position: 0 0;
		background-repeat: no-repeat;
		display: block;
		margin: 0 auto;
	}

/* slider control */
#cntrls{
	background: transparent url(../../images/sb-dvr.png) center bottom no-repeat;
	margin-bottom: 20px;
	padding-bottom: 22px;
}

	#cntrls a{
		height: 18px;
		width: 16px;
	}

	#cntrls .prev{
		background-image: url(../../images/prev.png);
		margin-bottom: 14px;
	}

	#cntrls .next{background-image: url(../../images/next.png);}

	#cntrls a:focus,
	#cntrls a:hover{background-position: 0 -20px;}

	#emailBtn{
		background-image: url(../../images/email.png);
		height: 19px;
		width: 29px;
	}

	#emailBtn:focus,
	#emailBtn:hover{background-position: 0 -19px;}

/* Contact Board */
#contactBoard{position: relative;}

	#contactBoard h2{
		font-size: 38px;
		text-align: center;
		-moz-text-shadow: 1px 1px 0px rgba(0,0,0,.5);
		-webkit-text-shadow: 1px 1px 0px rgba(0,0,0,.5);
		-ms-text-shadow: 1px 1px 0px rgba(0,0,0,.5);
		text-shadow: 1px 1px 0px rgba(0,0,0,.5);
	}

	#contactBoard h5{
		color: #cbcbcb;
		font: normal 18px/1.4 'Open Sans', Arial, Helvetica, sans-serif;
		-moz-text-shadow: 1px 1px 0px rgba(0,0,0,.35);
		-webkit-text-shadow: 1px 1px 0px rgba(0,0,0,.35);
		-ms-text-shadow: 1px 1px 0px rgba(0,0,0,.35);
		text-shadow: 1px 1px 0px rgba(0,0,0,.35);
	}

/* Contact Form */
#contactForm{margin: 24px 0 20px;}

	#contactForm li{
		display: block;
		height: 60px;
		line-height: 18px;
		position: relative;
	}

	#contactForm li:last-child{height: 40px;}

	#contactForm li.message{height: 220px;}
	
		#contactForm label{
			left: 10px;
			position: absolute;
			top: 10px;
		}

		#contactForm input[type="text"]{
			height: 38px;
			width: 380px;
		}

		#contactForm li.subject input[type="text"]{width: 662px;}

		#contactForm textarea{
			height: 180px;
			padding: 10px;
			width: 662px;
		}

	#contactForm input[type="submit"]{
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		-ms-box-shadow: none;
		box-shadow: none;
		-moz-box-shadow:
			inset 1px 1px 0px 0px rgba(255,255,255,.15),
			1px 1px 0px 0px rgba(0,0,0,.5);
		-webkit-box-shadow:
			inset 1px 1px 0px 0px rgba(255,255,255,.15),
			1px 1px 0px 0px rgba(0,0,0,.5);
		-ms-box-shadow:
			inset 1px 1px 0px 0px rgba(255,255,255,.15),
			1px 1px 0px 0px rgba(0,0,0,.5);
		box-shadow:
			inset 1px 1px 0px 0px rgba(255,255,255,.15),
			1px 1px 0px 0px rgba(0,0,0,.5);
		height: 36px;
		width: 130px;
		z-index: 2;
	}

	/* for error messages (when user enters wrong values in fields)
	   JS appends and deletes these 'p' elements. */
	#contactForm li p{
		font: normal 9px/1.2 'Helvetica Neue', Helvetica, Arial, sans-serif;
		margin: 6px 0 0;
		text-transform: uppercase;
	}

#clsCntFrm{
	background: transparent url(../../images/cross.png) 0 0 no-repeat;
	display: block;
	height: 11px;
	position: absolute;
	right: 12px;
	top: 12px;
	width: 11px;
}

#clsCntFrm:focus,
#clsCntFrm:hover{background-position: 0 -11px;}

/* messages used by Ajax(JS) to report the results of user actions. */
.sending,
.success,
.error,
.nlMsg,
.info,
.warn{
	background-color: rgba(0,0,0,.5);
	background-position: 20px center;
	background-repeat: no-repeat;
	border: #000 1px solid;
	-moz-box-shadow: inset 1px 1px 0px 0px rgba(255,255,255,.05), inset -1px -1px 0px 0px rgba(255,255,255,.05);
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(255,255,255,.05), inset -1px -1px 0px 0px rgba(255,255,255,.05);
	-ms-box-shadow: inset 1px 1px 0px 0px rgba(255,255,255,.05), inset -1px -1px 0px 0px rgba(255,255,255,.05);
	box-shadow: inset 1px 1px 0px 0px rgba(255,255,255,.05), inset -1px -1px 0px 0px rgba(255,255,255,.05);
	display: none;
	font-size: 14px;
	left: 0;
	margin: 20px;
	padding: 20px 20px 20px 60px;
	position: absolute;
	top: 300px;
	width: 600px;
	z-index: 2;
}

.sending{background-image: url(../../images/ajax-loader.gif);}

.success{background-image: url(../../images/success.png);}

.error{background-image: url(../../images/error.png);}

.info{background-image: url(../../images/information.png);}

.warn{background-image: url(../../images/warning.png);}


.nlMsg.success,
.nlMsg.error,
.nlMsg.warn,
.nlMsg.info{display: block;}

.nlMsg{
	background-color: rgba(0,0,0,.9);
	border: #000 1px solid;
	color: #ccc;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding-left: 74px;
	position: absolute;
	left: 100px;
	top: 300px;
	width: 400px;
	z-index: 999;
}

/* DMEO */
#demo{
	color: #222;
	display: block;
	background: #ededed;
	border: #ccc 1px solid;
	padding: 5px;
	position: absolute;
	right: 10%;
	top: -58px;
	font-size: 12px;
	line-height: 15px;
	height: 46px;
	width: 140px;
	z-index: 99;
	text-align: center;
	-moz-transition: top .2s linear;
	-webkit-transition: top .2s linear;
	-ms-transition: top .2s linear;
	-o-transition: top .2s linear;
	transition: top .2s linear;
}

#demo:focus,
#demo:hover{top: 0;}

#demo strong{display: block;}

	#demo .icon{
		background: #ededed url(../../../locked.png) center center no-repeat;
		border: #ccc 1px solid;
		border-top: none;
		display: block;
		height: 16px;
		padding: 4px 6px;
		position: absolute;
		left: 60px;
		bottom: -25px;
		width: 16px;
		z-index: 101;
	}