{include file="header.html"}
<p>
<form action="admin.php?act={$type}" method="post">
  <table width="90%"  border="1">
    <tr>
      <td width="150">所属文章</td>
      <td width="720"><a  href="../blog.php?id={$comment.blog_id}">{$comment.title}</a></td>
    </tr>
        <tr>
          <td>评论者名字</td>
          <td>{$comment.user_name}</td>
    </tr>
        
        <tr>
          <td>状态</td>
          <td>
                <input type="radio" name="status" value="1" id="status_0"  {if $comment.status eq 1} checked="checked"{/if} />
                隐藏
                <input type="radio" name="status" value="0" id="status_1" {if $comment.status eq 0} checked="checked"{/if}  />
                显示</td>
        </tr>
    <tr>
      <td>评论内容</td>
      <td><textarea name="content" cols="50" rows="5" id="content">{$comment.content}</textarea></td>
    </tr>
    
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="提交" /></td>
    </tr>
  </table>
</form>
</p>
{include file="footer.html"}