<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$admin_title}</title>
<link href="templates/style.css" media="all" rev="stylesheet" rel="stylesheet" type="text/css" />
</head>

<body class="body">



  <div id="header">
<div id="logo"><h1>Simple-Log系统管理后台</h1></div>
<div id="nav"><a href="../index.php" target="_blank">博客首页</a> <a href="./admin.php?act=default" target="mainFrame">后台首页</a> <a href="admin.php?act=clear_cache" target="mainFrame">清除缓存</a> <a href="admin.php?act=logout" target="_top">退出</a></div>
  </div>

</body>
</html>
