<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$admin_title}</title>
<link href="templates/style.css" media="all" rev="stylesheet" rel="stylesheet" type="text/css" />
<script src="../includes/js/jquery.js" type="text/javascript"></script>
</head>
<body class="body">
<div id="main">
  <div id="content">
  <div class="admin_here">
  {$admin_here}
   </div><br />
	<div id="update_date" style="font-size: 13px;font-family: verdana,arial; color:#FF0000;"></div>