<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Simple-Log系统管理后台</title>
</head>
<frameset rows="46,*" cols="*" frameborder="no" border="0" framespacing="0">
  <frame src="admin.php?act=header" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
  <frameset cols="155,*" frameborder="no" border="0" framespacing="0">
    <frame src="admin.php?act=menu" name="leftFrame"  scrolling="auto" id="leftFrame" title="leftFrame" />
    <frame src="admin.php?act=default" name="mainFrame" id="mainFrame" title="mainFrame" />
  </frameset>
</frameset>
<noframes><body>
</body></noframes>
</html>