<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$admin_title}</title>
<link href="templates/style.css" media="all" rev="stylesheet" rel="stylesheet" type="text/css" />
</head>
<body class="body">
<div id="main">
<div id="menu">
  <dl>
  <dt>日志管理</dt>
<dd>
<a href="admin.php?act=add_blog" target="mainFrame">添加日志</a>
<a href="admin.php?act=blog_list" target="mainFrame">日志列表</a>
<a href="admin.php?act=cat_list" target="mainFrame">日志分类</a>
<a href="admin.php?act=comment_list" target="mainFrame">评论列表</a>
<a href="admin.php?act=attachments_list" target="mainFrame">附件管理</a>
<a href="admin.php?act=tags_list" target="mainFrame">Tags管理</a>
</dd>
</dl>

<dl>
<dt>会员管理</dt>
<dd>
<a href="admin.php?act=member_list" target="mainFrame">会员列表</a>
<a href="admin.php?act=add_member" target="mainFrame">添加会员</a>
<a href="admin.php?act=group_list" target="mainFrame">会员分组</a>
<a href="admin.php?act=add_group" target="mainFrame">添加会员分组</a>
</dd>
</dl>

<dl>
<dt>系统设置</dt>
<dd>
<a href="admin.php?act=setting" target="mainFrame">博客设置</a>
<a href="admin.php?act=templates_list" target="mainFrame">模板选择</a>
<a href="admin.php?act=databak" target="mainFrame">数据备份</a>
<a href="admin.php?act=re_data" target="mainFrame">数据恢复</a>
<a href="admin.php?act=friend_link_list" target="mainFrame">友情链接</a>
</dd></dl>

<dl>
<dt>系统模块</dt>
<dd>
<a href="admin.php?act=sidebar_list" target="mainFrame">边栏挂件管理</a>
<a href="admin.php?act=plugins_list" target="mainFrame">插件管理</a>
<a href="admin.php?act=nav_list" target="mainFrame">自定义导航栏</a>
<a href="admin.php?act=set_footer" target="mainFrame">自定义网站模板</a>
<a href="admin.php?act=page_list" target="mainFrame">自定义页面</a>
</dd></dl>


</div>

  </div>
</body>
</html>