{include file="header.html"}
<p>
<table width="100%" >
  <tr class="tr1">
    <td>页面标号</td>
    <td>页面标题</td>
    <td>最新修改时间</td>
    <td>作者</td>
    <td>操作</td>
  </tr>
  {foreach from=$pages_list item=page}
  <tr>
    <td>{$page.page_id}</td>
    <td><a href="admin.php?act=edit_page&id={$page.page_id}">{$page.title}</a></td>
    <td>{$page.add_time}</td>
    <td>{$page.user_name}</td>
    <td><a href="../page.php?id={$page.page_id}" target="_blank">浏览该页面</a> | <a href="admin.php?act=edit_page&id={$page.page_id}" >编辑</a> | <a href="admin.php?act=del_page&id={$page.page_id}" >删除</a> </td>
  </tr>
  {/foreach}
</table>
{include file="page.html"}
</p>
{include file="footer.html"}