{include file="header.html"}
<p>
<form action="admin.php?act={$type}" method="post">
<table width="100%" border="1">
  <tr>
    <td>模块</td>
    <td>描述</td>
    <td>排序</td>
    <td>操作</td>
  </tr>
  {foreach from=$sidebar_list item=sidebar}
  <tr>
    <td>{$sidebar.title}</td>
    <td>{$sidebar.desc}</td>
    <td><input name="sort[{$sidebar.id}][]" type="text" value="{$sidebar.sort}" size="5" /></td>
    <td><a href="admin.php?act=edit_sidebar&id={$sidebar.id}" >编辑</a> | <a href="admin.php?act=del_sidebar&id={$sidebar.id}" >删除</a> </td>
  </tr>
  {/foreach}
    <tr>
    <td colspan="4"><input type="submit" name="button" id="button" value="修改排序" /></td>
    </tr>
</table>
</form>
</p>
{include file="footer.html"}